@media (prefers-reduced-motion: no-preference){
    * {
        scroll-behavior: smooth;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Quicksand:wght@300;500;700&display=swap');

* {
    margin:0;
    font-family: 'Quicksand', sans-serif;
    padding:0;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 100;
}

.navbar {
    transition: height 0.3s ease;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(255, 255, 255, 0.9);
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 3;
}

.navbar.shrink {
    height:50px;
}

#left-nav {
    margin-left: 20px;
    color:rgb(46, 44, 44);
    font-size: 1.5rem;
}

#right-nav {
    margin-right: 20px;
    height:100%;
}

#nav-ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-li {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.nav-li a {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
    color: rgb(46, 44, 44);
    width: 100px;
    height: 100%;
    text-align: center;
}

.nav-li a:hover {
    background-color: rgba(212, 234, 253, 0.8);
}

/* nav end */

#top-img {
    background-image: url("https://i.ibb.co/s6ddvfv/enhanced-livingroom-final.jpg");
    min-height: 60vh;
    max-height:60vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    width:100vw;
    /* position: relative;
    top:0; */
    z-index: -2;
}

#meet-heddy {
    position: absolute;
    width:100%;
    text-align: center;
    top: 200px;
    color: white;
    font-size:3.5rem;
}

/* img end */

#about-div {
    height:auto;
    position:relative;
    top: 0;
    padding-top:10px;
    max-width: 1000px;
    margin: 0 auto 70px auto;
}

#about-div h2 {
    text-align: center;
    margin: 40px 0 60px 0;
    font-size: 2rem;
}

#profile-img {
   height: 430px;
   width:auto;
}

#info-div {
  display: flex; 
  justify-content: center;
  gap: 25px;
}

#info-p-div {
    max-width: 450px;
    font-size: 1.1rem;
}

/* end about */

.photo-container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    gap: 20px;  
}

.column {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.photo img {
    width: 100%;
    height: 100%;
}

/* img area end */

.review-slide {
    display: none;
    padding: 20px 50px;
    text-align: center;

}

.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    background-color: white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-container a {
    position: absolute;
    cursor: pointer;
    color: rgb(197, 201, 201);
    font-size: 3rem;
    padding: 8px;
    user-select: none;
    
}
.previous {
    left: 0;
}
.next {
    right: 0;
}

#big-slideshow-container {
    margin-top: 30px;
    background-color: rgba(212, 234, 253);
    padding: 35px 0;
    width: 100%;
}

/* slideshow end */

.square-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 70px auto;

}

.square-img-link {
    width:230px;
    height: 230px;
    margin: 15px;
    overflow: hidden;
}

.square-img-link img {
   /* width:100%; */
    object-fit: cover;

}


.footer {
    height: 300px;
}


@media (max-width: 1150px){

#top-img {
    background-size: cover;
    background-attachment: unset;
    background-position: center;
}
}

@media (max-width: 768px) {
    .photo-container {
        flex-direction: column;
    }
    #info-div {
        flex-direction: column;
        align-items: center;
    }
    #info-p-div {
        margin-top: 40px;
    }
}